.the-debug-bar {
	position: relative;
	top: 3.3rem;
}
#clickme {
    position: relative;
    z-index: 9999;
    left: 1rem;
    font-size: .9rem;
}

#the-debug-bar.hidden:after  {
	display: none;
}

/* =============
   MEDIA QUERIES
   ============= */

/*----MEDIA QUERY INDICATOR----*/
#the-debug-bar:after { content: "less than 320px";font-weight:bold;position:fixed;top:5.5rem;width:100%;text-align:center;background-color:hsla(24, 100%, 50%, 0.79);color: #fff;z-index: 999;}
@media only screen and (min-width: 320px) { #the-debug-bar:after { content: "320 to 479px"; background-color: hsla(90,60%,40%,0.7); } }
@media only screen and (min-width: 480px) { #the-debug-bar:after { content: "480 to 767px"; background-color: hsla(180,60%,40%,0.7); } }
@media only screen and (min-width: 768px) { #the-debug-bar:after { content: "768 to 991px"; background-color: hsla(270,60%,40%,0.7); } }
@media only screen and (min-width: 992px) { #the-debug-bar:after { content: "992 to 1199px"; background-color: hsla(360,60%,40%,0.7); } }
@media only screen and (min-width: 1200px) { #the-debug-bar:after { content: "1200 to 1299px"; background-color: hsla(180,60%,40%,0.7); } }
@media only screen and (min-width: 1300px) { #the-debug-bar:after { content: "Responsive indicator 1300px upward"; background-color: hsla(0,10%,50%,0.79); } }

@media all and (max-width:768px) {
	.the-debug-bar {
		top: 2.5rem;
	}
}



